*, body {
  padding: 0;
  margin: 0;
}

canvas {
  background-image: linear-gradient(#30cfd0 0%, #330867 100%);
  top: 0;
  left: 0;
}

body {
  font-family: 'Secular One';
}


@font-face {
  font-family: 'Secular One';
  src: url('SecularOne-Regular.ttf');
}